.course-item {
  margin: 32px;
}

.navigation-link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-styles {
  height: 60px;
  width: 60px;
}

.course-name {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: bold;
  margin-left: 15px;
}
